@model List<iTunesManager.Models.SearchResultModel>
@{
    ViewBag.Title = "Search";
}

<h2>Search Results for "@ViewBag.Value"<br /><br /></h2>

<div class="row">
    @foreach (var result in Model)
    {
        if ((result.WrapperType == "track" || result.WrapperType == "artist") /*&& ViewBag.value == result.ArtistName*/)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="overflow: hidden; display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;min-height:40px"
                            title="@result.ArtistName - @result.TrackName">
                            @result.ArtistName - @result.TrackName
                        </h4>
                    </div>
                    <div class="panel-body">
                        <img src="@result.ArtworkUrl100" alt="@result.TrackName" class="img-responsive" />
                        <h5>Preview</h5>
                        <audio controls style="width: 250px; height: 30px;">
                            <source src="@result.PreviewUrl" type="audio/mp4" />
                            Your browser does not support the audio element.
                        </audio>
                        <br />
                    </div>
                    <ul class="list-group">
                        @if (result.WrapperType == "track")
                        {
                            <li class="list-group-item">
                                <a href="@result.ArtistViewUrl?" onclick="updateClickCount('@result.ArtistName', '@result.TrackName');">View Artist</a>
                            </li>
                            <li class="list-group-item">
                                <a href="@result.TrackViewUrl?" onclick="updateClickCount('@result.ArtistName', '@result.TrackName');">View Tracks</a>
                            </li>
                            @*<li class="list-group-item">
                                <a href="@result.CollectionViewUrl?source=track" onclick="updateClickCount('@result.ArtistName', '@result.TrackName');">View Tracks</a>
                            </li>*@
                            <!--<a href="@result.ArtistViewUrl" onclick="updateClickCount('@result.ArtistName', '@result.TrackName')">Artist View</a>
        <br />-->
                            @*<a href="@result.CollectionViewUrl" onclick="updateClickCount('@result.ArtistName', '@result.TrackName')">Collection View</a><br />*@
                            <!--<a href="@result.TrackViewUrl" onclick="updateClickCount('@result.ArtistName', '@result.TrackName')">Track View</a>
        <br />-->

                            <li class="list-group-item">
                                Track Price: @result.TrackPrice
                            </li>
                            <li class="list-group-item">
                                Release Date: @(DateTime.TryParse(result.ReleaseDate, out DateTime releaseDate) ? releaseDate.ToString("yyyy-MM-dd") : "")
                            </li>
                            <li class="list-group-item">
                                Country: @result.Country
                            </li>
                            <li class="list-group-item">
                                Genre: @result.PrimaryGenreName
                            </li>
                        }
                        else if (result.WrapperType == "artist")
                        {
                            <li class="list-group-item">
                                <a href="@result.ArtistViewUrl">Artist View</a>
                            </li>
                            <li class="list-group-item">
                                Country: @result.Country
                            </li>
                            <li class="list-group-item">
                                Genre: @result.PrimaryGenreName
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>
<script>
function updateClickCount(artistName, trackName) {
    $.ajax({
        url: "@Url.Action("UpdateClickCount", "Home")",
        data: {
            artistName: artistName,
            trackName: trackName
        },
        type: "POST",
        success: function(result) {
            console.log(result);
            window.location.href = event.target.href;
        },
        error: function(xhr, status, error) {
            console.log(xhr.responseText);
        }
    });
    return false;
}
</script>



